PORT=5000
NODE_ENV=development
# MongoDB connection URI (e.g. mongodb+srv://username:password@cluster.mongodb.net/auramart)
MONGODB_URI=mongodb://localhost:27017/auramart
JWT_SECRET=auramart_secret_key_afnan_3140_ecommerce_secure_key
ADMIN_EMAIL=afnan@gmail.com
ADMIN_PASSWORD=afnan31403140
# Cloudinary credentials for product/banner images & PDF uploads
CLOUDINARY_CLOUD_NAME=your_cloud_name
CLOUDINARY_API_KEY=your_api_key
CLOUDINARY_API_SECRET=your_api_secret
CLIENT_URL=http://localhost:3000
